*{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: auto;
}
.common-button{
    background-color: blue;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
    gap: 35px;
    max-width: 1200px;
    margin: auto;
}

.nav-un-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    align-items: center;
}


