*{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1300px;
    margin: auto;
}
.common-button{
    background-color: blue;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
    gap: 35px;
    max-width: 1200px;
    margin: auto;
}

.nav-un-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.hero{
    display:flex;
    height: 784px;
    width: 1551px;
    background-size:cover;
    background-color: darkblue;
    background-image: url(./assets/banner.jpg);
    background-position:center;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.overlay{
    width: 650px;
    color:white;
}

.overlay h1{
    font-size:65px;
    font-weight:700;
}


.overlay p{
    font-size:20px;
    line-height:1.09;
    font-weight: 300px;
    margin-top: 50px;
    margin-bottom: 400px;
}
