*{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1400px;
    margin: auto;
}
.common-button{
    background-color: blue;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
    gap: 35px;
    max-width: 1200px;
    margin: auto;
}

.nav-un-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.hero{
    display:flex;
    height: 784px;
    width: 1551px;
    background-size:cover;
    background-color: darkblue;
    background-image: url(./assets/banner.jpg);
    background-position:center;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.overlay{
    width: 650px;
    color:white;
}

.overlay h1{
    font-size:65px;
    font-weight:700;
}


.overlay p{
    font-size:20px;
    line-height:1.09;
    font-weight: 300px;
    margin-top: 50px;
    margin-bottom: 400px;
}

.card-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
}

.card{
    border:1px solid rgb(195, 185, 185);
    border-radius:8px;
    overflow:hidden;
    background:white;
    align-items: center;
}

.card img{
    width:100%;
    height:350px;
    object-fit:cover;
}

.content{
    padding:20px 20px;
}

.category{
    color: blue;
    font-size:14px;
    font-weight:bold;
}

.content h2{
    margin:6px 0;
    font-size:20px;
}

.content-p{
    color:darkgrey;
}


.speaker h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size:48px;
}

/* pricing section */

.pricing{
    width: 90%;
    margin: 80px auto;
}

.pricing h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    color: #111827;
}

.subtitle{
    text-align: center;
    color: gray;
    margin-bottom: 50px;
}


.pricing-container{
    display: flex;
    justify-content: center;
    gap: 25px;
}


.card-pr{
    width: 350px;
    background-color: white;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 25px;
}

.card-pr h5{
    color: grey;
    font-size: 13px;
    margin-bottom: 15px;
}

.card-pr h2{
    font-size: 48px;
    margin-bottom: 5px;
    color: #111827;
}

.price-text{
    color: gray;
    font-size: 14px;
    margin-bottom: 20px;
}

.card-pr hr{
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid #dddddd;
}


.card-pr ul{
    list-style-type: disc;
    padding-left: 20px;
}

.card-pr ul li{
    margin-bottom: 12px;
    font-size: 15px;
    color: #444;
}


.card-pr button{
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: 1px solid #2563eb;
    border-radius: 8px;
    background-color: white;
    color: #2563eb;
    font-size: 16px;
    cursor: pointer;
}

.card-pr button{
    background-color: white;
    color: #2563eb;
}
.card-pr .contact-btn{
    color: black;
    border: 1px solid black;
}
.pro{
    background-color: #0f172a;
}

.pro h5{
    color: #9db8ff;
}

.pro h2{
    color: white;
}

.pro .price-text{
    color: #d1d5db;
}

.pro hr{
    border-top: 1px solid #334155;
}

.pro ul li{
    color: white;
}

.pro button{
    background-color: #2563eb;
    color: white;
    border: none;
}